[user]
        name = Mason Egger
        email = mason@masonegger.com
        signingkey = 39A57135AD78B654
[commit]
        gpgsign = true
[pull]
        rebase = true
[init]
        defaultBranch = main
[alias]
        status = status -u
