[user]
        name = Mason Egger
        email = mason@masonegger.com
{% if gpg_signing_key is defined and gpg_signing_key != '' %}
        signingkey = {{ gpg_signing_key }}
{% else %}
        # signingkey = YOUR_KEY_HERE  # No GPG key found - run: gpg --list-secret-keys --keyid-format=long
{% endif %}
[commit]
{% if gpg_signing_key is defined and gpg_signing_key != '' %}
        gpgsign = true
{% else %}
        # gpgsign = true  # Disabled - no GPG key found
        gpgsign = false
{% endif %}
[pull]
        rebase = true
[init]
        defaultBranch = main
[core]
        hooksPath = ~/.config/git/hooks
[alias]
        status = status -u
